@CHARSET "UTF-8";
.msg-wrap {
  min-height: 31px;
  height: auto!important;
  height: 31px;
  margin: 2px 0 5px;
}
.msg-warn {
  position: relative;
  background: #fff6d2;
  color: #666;
  border: 1px solid #ffe57d;
  padding: 3px 10px 3px 40px;
  line-height: 18px;
  height: 18px;
}
.msg-error {
  position: relative;
  background: #ffebeb;
  color: #e4393c;
  border: 1px solid #e4393c;
  padding: 3px 10px 3px 40px;
  line-height: 18px;
  min-height: 18px;
  _height: 18px;
}
.msg-error b {
  position: absolute;
  top: 50%;
  left: 10px;
  display: block;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  overflow: hidden;
  background: url(../images/pwd-icons-new.png) -104px -49px no-repeat;
}
.msg-warn b {
  position: absolute;
  top: 50%;
  left: 10px;
  display: block;
  margin-top: -8px;
  width: 16px;
  height: 17px;
  overflow: hidden;
  background: url(../images/pwd-icons-new.png) -104px -22px no-repeat;
}
.msg-error p {
 	margin-left:0px;
}
.send_yzm {
  color: #949494;
  cursor: default;
}
.get_yzm {
  color: #06c;
  cursor: pointer;
}
.none{
	display: none;
}
.block{
	display: block;
}
.login h1{
  font-size: 30px;
  height: 40px;
  line-height: 40px;
  font-family: "微软雅黑";
  font-weight: 500;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.mt_8{ margin-top:8px;}
.mb_8{ margin-bottom:8px;}
login ul li input{ width:256px; height:42px; display:block; color:#ead4d4; text-align:center;font: 18px/2.0  "microsoft yahei","宋体",simsun,sans-serif; background:#a50001;}
ul li em input input{width:302px; height:32px;padding:2px; padding-right:10px; border:1px solid #e1dede; line-height:32px; color:#736f6f;}