<div class="box layout_4_bg">
    <div class="layout_4">
      <p>合作伙伴</p>
      <ul>
      <?php foreach($result as $res) {
				echo '<li><a href="'.$res['url'].'" target="_blank"><img src="'.base_url().$res['pic'].'" width="175" height="55"/></a></li>';
			};?>
      <!-- 
        <li><img src="images/hz_01.jpg" width="175" height="55"/></li>
        <li><img src="images/hz_02.jpg" width="175" height="55"/></li>
        <li><img src="images/hz_03.jpg" width="175" height="55"/></li>
        <li><img src="images/hz_02.jpg" width="175" height="55"/></li>
        <li><img src="images/hz_01.jpg" width="175" height="55"/></li>
        <li><img src="images/hz_01.jpg" width="175" height="55"/></li>
        <li><img src="images/hz_02.jpg" width="175" height="55"/></li>
        <li><img src="images/hz_03.jpg" width="175" height="55"/></li>
        <li><img src="images/hz_02.jpg" width="175" height="55"/></li>
        <li><img src="images/hz_01.jpg" width="175" height="55"/></li>
         -->
      </ul>    
      <div class="clearfix"></div>
    </div>
  </div>
  
  
  