
/************************************招商加盟**************************/

/***便民平台优势***/ 
.picture{ width:100%; }
.picture a{ display:inline-block; width:33%; text-align:center; font-size:18px; color:#323232;  }
.picture a img{ display:block; width:90%; }
.picture a:hover img{ opacity: .9;filter: alpha(opacity=90);}
.picture a p{ line-height:40px;}
.picture a:hover{ color:#f25609; text-decoration:none}
.mapbg{background:url(../images/mapbg.png) top center no-repeat;}

/**发展规划***/ 
.fzgh_bg{ height:400px; background:url(../images/zsjm_04.jpg) no-repeat 0 0;  }
.fzgh_cotent{ width:650px; height:400px; }
.fzgh_cotent ul{ width:100%; }
.fzgh_cotent ul li{ display:inline-block; *zoom: 1; *display: inline;  width:30%; height:210px;  overflow:hidden; margin-right:6px; margin-top:20px; text-align:left; background:#585ae2; filter:alpha(opacity=90); /*IE*/
-moz-opacity:0.9; /*MOZ , FF*/
opacity:0.9; /*CSS3, FF1.5*/

-ms-border-radius: 10px;
-moz-border-radius: 10px; 
-webkit-border-radius: 10px; 
border-radius: 10px; }
.fzgh_cotent ul li p{ display:block; padding:10px; line-height:24px; color:#fff;}

/**我要加盟***/ 
.wyjm{ position:relative; text-align:center;}
.wyjm a{ position:absolute; top:250px; left:80px; display:block; line-height:30px; }
.wyjm a:hover{ color:#f25609; text-decoration:none}

/**加盟优势***/ 
.jmys{background:url(../images/zsjm_06.jpg) no-repeat left bottom;}
.jmys_cotent{ width:650px; }
.jmys_cotent ul{}
.jmys_cotent ul li{ list-style-type:disc; list-style-position:inside; line-height:30px; font-size:16px;}

/**店面标准***/ 
.dmbz{ height:420px; background:url(../images/zsjm_07.jpg) no-repeat left bottom; }
.dmbz p{ margin-bottom:6px;}
.dmbz ul{ width:800px; margin:auto; }
.dmbz ul li{ float:left; display:inline; }
.dmbz_lef{ width:538px;}
.dmbz_rig{ width:250px; margin-top:40px;}
.dmbz_lef a { display:inline-block; width:174px; height:170px; margin-bottom:6px;}	 
.dmbz_lef img{ display:block;
	  -moz-transition: .05s all ease-in-out;
    -webkit-transition: .05s all ease-in-out;
    -o-transition: .05s all ease-in-out;
    transition: .05s all ease-in-out;}
.dmbz_lef a:hover img { display:block; margin-top:-3px; filter:alpha(opacity=75); /*IE*/
-moz-opacity:0.75; /*MOZ , FF*/
opacity:0.75; /*CSS3, FF1.5*/}
.dmbz_rig a { display:block;  margin-top:6px;
	 -moz-transition: .05s all ease-in-out;
    -webkit-transition: .05s all ease-in-out;
    -o-transition: .05s all ease-in-out;
    transition: .05s all ease-in-out; }
.dmbz_rig a:hover { margin-top:-3px; filter:alpha(opacity=75); /*IE*/
-moz-opacity:0.75; /*MOZ , FF*/
opacity:0.75; /*CSS3, FF1.5*/ }

/***********************************便民服务*************************/

.bmfw_con{ margin:auto; overflow:hidden; }
.bmfw_con li{ float:right; display:inline; width:32%; height:180px; line-height:30px; }
.bmfw_con li img{ float:left; display:inline-block; margin-right:10px; opacity:1;}
.bmfw_con li img:hover{opacity:0.75;}
.bmfw_con li p{  margin-top:30px;}
.bmfw_con li p a{color:#323232;}
.bmfw_con li p a:hover{color:#f25609; text-decoration:none;}
.bmfw_con li span {line-height:50px;  color:#676767;}

.bmfw_xykhk_box{ padding:14px;   border:3px solid #e8e8e8;}
.bmfw_xykhk_box1{ padding:10px 2px; border-bottom:3px solid #e8e8e8;}
.bmfw_xykhk_box_left{ width:600px; }
.bmfw_xykhk_box_right{width:300px; text-align:right;  }
.bmfw_xykhk_yezf{ display:block; padding:10px; color:#333333; border:2px solid #e8e8e8; position:relative;}
.bmfw_xykhk_yezf:hover{ display:block; padding:10px; color:#333333; text-decoration:none; border:2px solid #f35608;}
.bmfw_xykhk_yes{ width:11px; height:12px; background:#fff; position:absolute; right:0; bottom:0;}
.bmfw_xykhk_yezf:hover .bmfw_xykhk_yes{ width:11px; height:12px; background:url(../images/yes01.png) no-repeat center center; position:absolute; right:0; bottom:0;}
.ptzf { margin-bottom:16px;}
.ptzf a:hover{ text-decoration:none;}
.bmfw_xykhk_pay_a{ width:134px; height:38px; display:inline-block; margin-bottom:-16px; border:1px solid #e8e8e8; background:url(../images/pay-logo.png) no-repeat 12px 4px;}
.bmfw_xykhk_pay_b{ width:134px; height:38px; display:inline-block;margin-bottom:-16px; border:1px solid #e8e8e8; background:url(../images/pay-logo.png) no-repeat -2px -58px;}
.bmfw_xykhk_pay_a:hover , .bmfw_xykhk_pay_b:hover{ border:1px solid #f35608;}
.bmfw_xykhke_inpta{ width:230px; height:40px; border:1px solid #c8c8c8; background:#f0f0f0; padding-left:2px;}
.bmfw_xykhke_inptb{ width:260px; height:40px; border:1px solid #c8c8c8; background:#f0f0f0; padding-left:2px;}
.bmfw_xykhke_select{ width:230px; height:40px; border:1px solid #c8c8c8; background:#f0f0f0; padding-left:2px;}
.bmfw_xykhke_btna{ width:230px; height:40px; line-height:40px; text-align:center; display:block;  background:#f35608; color:#fff; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px; margin-left:0; }
.bmfw_xykhke_btna:hover{ background:#da4d08; text-decoration:none;}
.fuktable{ border-collapse:collapse;}
.fuktable td{ padding:4px 3px;}


/**********************************关于我们**********************/
.gywm_main{ overflow:hidden;}
.gywm_con{ width:48.7%; }
.gywm_con img{ margin:2px;filter:alpha(opacity=90); /*IE*/
-moz-opacity:0.9; /*MOZ , FF*/
opacity:0.9; /*CSS3, FF1.5*/
}
.gywm_con a{ 
 -moz-transition: .05s all ease-in-out;
    -webkit-transition: .05s all ease-in-out;
    -o-transition: .05s all ease-in-out;
    transition: .05s all ease-in-out;}
	
.gywm_con a:hover img{ filter:alpha(opacity=100); /*IE*/
-moz-opacity:1; /*MOZ , FF*/
opacity:1; /*CSS3, FF1.5*/}
.gywm_bgA{ background:#f36620;}
.gywm_bgB{ background:#449df5;}
.gywm_bgC{background:#fff5f2;}
.gywm_bgD{background:#ebf6f6;}

.gywm_title{ width:100%; height:54px; line-height:54px;  font-size:20px;
-ms-border-radius: 10px 10px 0 0;
-moz-border-radius: 10px 10px 0 0; 
-webkit-border-radius: 10px 10px 0 0; 
border-radius: 10px 10px 0 0;}
.gywm_dt{ padding:20px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;height:180px;}
.gywm_dt li{line-height:30px; padding-left:18px; background:url(../images/li_icon.png) no-repeat 0 12px;}
.gywm_dt li a:link , .gywm_dt li a:visited{ display:block; line-height:30px; color:#323232;}
.gywm_dt li a:hover{color:#f25609; text-decoration:none; }

.gywm_bmwh{ width:100%; height:100%; padding-top:20px; }
.gywm_bmwh li{ float:left; display:inline; width:24.5%;}
.gywm_bmwh li img{ display:block;}

/*edit by zhuyang*/
/*-----2015-05-09-----------*/
.txtlightblue{color:#d5d5f0;}
.txtindent50{text-indent:50px;}
.topbar .txtindent50{width:auto;}














